* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  background-color: #01fb9e;
}

.tributeLayout {
  width: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #01fb9e;
}
h1 {
  display: flex;
  justify-content: center;
}

h2 {
  color: hwb(0 100% 0%);
  display: flex;
  justify-content: center;
}

.pic {
  display: flex;
  justify-content: center;
}
.pic img {
  width: 40%;
}

.trubutePoints {
  margin: 10px 0 10px 0;
}

.Content {
  padding: 10px;
  background-color: #0ae384;
  box-shadow: #8efd8d 10px 10px 20px;
}
a {
  color: blue;
}
