* {
  box-sizing: border-box;
}

.calLayout {
  border: 2px solid #2197f2;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #2197f2;
  border-radius: 50px;
}

.calcOutput {
  width: 90%;
  height: 150px;
  margin: 5%;
  background-color: #e5f2fc;
  border: 2px solid inherit;
  border-radius: 30px;
}
.calcButtons {
  width: 90%;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.seperateButtons {
  cursor: pointer;
  border: 2px solid #1564c0;
  font-size: 5rem;
  font-weight: 600;
  width: 90%;
  border-radius: 20px;
  padding: 5px 25%;
  color: white;
  background-color: #1564c0;
  margin: auto;
}
.calcAnswer {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: auto;
  overflow: hidden;
  font-size: 8rem;
  font-weight: 500;
}
.btn {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}
.btn .ant-btn {
  color: white;
  font-weight: 700;
  background-color: #1564c0;
}
.calcOthers {
  display: flex;
  gap: 10px;
}
